*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  .container {
    min-height: 400px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(1) {
      background-color: rgb(67, 66, 66);
    }
    &:nth-child(5) {
      height: 600px;
    }

    #m1 {
      ul {
        list-style: none;
        display: flex;
        li {
          text-align: center;
          text-transform: uppercase;
          font-size: 80px;
          font-weight: bold;
          letter-spacing: 10px;
          color: whitesmoke;
          transition: 2s;
          &:nth-child(1) {
            transition-delay: 0s;
          }
          &:nth-child(2) {
            transition-delay: 0.4s;
          }
          &:nth-child(3) {
            transition-delay: 0.8s;
          }
          &:nth-child(4) {
            transition-delay: 1.2s;
          }
          &:nth-child(5) {
            transition-delay: 1.6s;
          }
        }
        &:hover {
          li {
            transform: rotate(45deg) translateY(-200px);
            opacity: 0;
            filter: blur(20px);
          }
        }
      }
    }
    #m2 {
      h1 {
        text-transform: uppercase;
        font-size: 100px;
        color: #ccc;
        position: relative;
        overflow: hidden;
        &:before {
          content: 'text';
          position: absolute;
          top: 0;
          left: 0;
          color: black;
          width: 0%;
          overflow: hidden;
          transition: 1s;
        }
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
    #m3 {
      display: flex;
      text-align: center;

      .icon {
        position: relative;
        width: 90px;
        height: 90px;
        background-color: whitesmoke;
        margin: 10px;
        border-radius: 30%;
        color: limegreen;
        box-shadow: 0 5px 15px -5px #00000070;
        overflow: hidden;

        i {
          line-height: 90px;
          font-size: 30px;
          transition: 0.2s;
        }
        &:before {
          content: '';
          position: absolute;
          width: 120%;
          height: 120%;
          background-color: limegreen;
          left: -110%;
          top: 90%;
          rotate: 45deg;
        }
        &:hover {
          i {
            scale: 1.3;
            color: whitesmoke;
          }
          &:before {
            animation: m3 0.7s 1 forwards;
          }
        }
      }
    }
    #m4 {
      position: relative;
      width: 200px;
      height: 200px;
      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
      }
      span {
        color: #58c747;
        font-size: 35px;
      }
      &:before,
      &:after,
      .rotated:before,
      .rotated:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
      }
      &:before {
        border-top: 5px solid #58c747;
        border-bottom: 5px solid #58c747;
        transform: scaleX(0);
      }
      &:after {
        border-left: 5px solid #58c747;
        border-right: 5px solid #58c747;
        transform: scaleY(0);
      }
      &:hover {
        &:before {
          transform: scaleX(1);
          transition-delay: 0s;
        }
        &:after {
          transform: scaleY(1);
          transition-delay: 0.4s;
        }
        .rotated {
          &:before {
            transform: scaleX(1);
            transition-delay: 0.8s;
          }
          &:after {
            transform: scaleY(1);
            transition-delay: 1.2s;
          }
        }
      }
      .rotated {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        rotate: 45deg;
        &:before {
          border-top: 5px solid #58c747;
          border-bottom: 5px solid #58c747;
          transform: scaleX(0);
        }
        &:after {
          border-left: 5px solid #58c747;
          border-right: 5px solid #58c747;
          transform: scaleY(0);
        }
      }
    }
    #m5 {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      h2 {
        font-family: 'Rubik';
        position: relative;
        font-size: 150px;
        color: ghostwhite;
        z-index: 1;
        text-transform: uppercase;
        text-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        font-weight: 900;
        transition: 2s;
        &:hover {
          filter: blur(10px);
          transform: scale(1.2);
          & ~ img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(0);
          }
        }
      }
      img {
        position: absolute;
        width: 140%;
        height: 140%;
        top: -20%;
        left: -20%;
        filter: blur(10px);
        transition: 2s;
      }
    }
    #m6 {
      height: 400px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(45deg, #0082ce, #ffd000);
      h2 {
        position: relative;
        display: flex;
        gap: 15px;
        color: whitesmoke;
        font-size: 40px;
        cursor: pointer;
        text-transform: uppercase;
        span {
          position: relative;
          filter: blur(5px);
          transition: 0.3s;

          i {
            &:before {
              content: '';
              position: absolute;
              width: 2px;
              height: 8px;
              background: whitesmoke;
              top: 0;
              left: -5px;
              box-shadow: 0 38px whitesmoke, 37px 38px whitesmoke, 36px 0 whitesmoke;
              opacity: 0;
            }
            &:after {
              content: '';
              position: absolute;
              width: 8px;
              height: 2px;
              background: whitesmoke;
              top: 0;
              left: -5px;
              box-shadow: 0 45px whitesmoke, 30px 45px whitesmoke, 30px 0 whitesmoke;
              opacity: 0;
            }
          }
          &:hover {
            filter: blur(0);
            i {
              &:before,
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes m3 {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
