*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  .container {
    min-height: 400px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(1) {
      background-color: rgb(67, 66, 66);
    }
    #m1 {
      ul {
        list-style: none;
        display: flex;
        li {
          text-align: center;
          text-transform: uppercase;
          font-size: 80px;
          font-weight: bold;
          letter-spacing: 10px;
          color: whitesmoke;
          transition: 2s;
          &:nth-child(1) {
            transition-delay: 0s;
          }
          &:nth-child(2) {
            transition-delay: 0.4s;
          }
          &:nth-child(3) {
            transition-delay: 0.8s;
          }
          &:nth-child(4) {
            transition-delay: 1.2s;
          }
          &:nth-child(5) {
            transition-delay: 1.6s;
          }
        }
        &:hover {
          li {
            transform: rotate(45deg) translateY(-200px);
            opacity: 0;
            filter: blur(20px);
          }
        }
      }
    }
    #m2 {
      h1 {
        text-transform: uppercase;
        font-size: 100px;
        color: #ccc;
        position: relative;
        overflow: hidden;
        &:before {
          content: 'text';
          position: absolute;
          top: 0;
          left: 0;
          color: black;
          width: 0%;
          overflow: hidden;
          transition: 1s;
        }
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
    #m3 {
      display: flex;
      text-align: center;

      .icon {
        position: relative;
        width: 90px;
        height: 90px;
        background-color: whitesmoke;
        margin: 10px;
        border-radius: 30%;
        color: limegreen;
        box-shadow: 0 5px 15px -5px #00000070;
        overflow: hidden;

        i {
          line-height: 90px;
          font-size: 30px;
          transition: 0.2s;
        }
        &:before {
          content: '';
          position: absolute;
          width: 120%;
          height: 120%;
          background-color: limegreen;
          left: -110%;
          top: 90%;
          rotate: 45deg;
        }
        &:hover {
          i {
            scale: 1.3;
            color: whitesmoke;
          }
          &:before {
            animation: m3 0.7s 1 forwards;
          }
        }
      }
    }
  }
}

@keyframes m3 {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
