*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #747474;
  font-family: "Roboto", sans-serif;
}
body .container {
  position: relative;
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
  cursor: pointer;
}
body .container img {
  width: 100%;
}
body #c1 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c1 img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c1 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c1 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c1 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c1:hover img {
  -webkit-transform: scale(1.3) rotate(15deg);
          transform: scale(1.3) rotate(15deg);
}
body #c1:hover .caption {
  opacity: 1;
}
body #c2 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c2 img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c2 .caption {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c2 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c2 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c2:hover img {
  -webkit-transform: scale(1.3) rotate(-15deg);
          transform: scale(1.3) rotate(-15deg);
}
body #c2:hover .caption {
  left: 0;
  opacity: 1;
}
body #c3 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c3 img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c3 .caption {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c3 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c3 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c3:hover img {
  left: 100%;
}
body #c3:hover .caption {
  left: 0;
}
body #c4 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c4 img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c4 .caption {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c4 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c4 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c4:hover img {
  top: -25%;
}
body #c4:hover .caption {
  top: 75%;
}
body #c5 {
  height: auto;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}
body #c5 img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c5 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
body #c5 .caption h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}
body #c5 .caption h5 {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  background-color: #ae895d;
  padding: 3px 5px;
}
body #c5:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006266;
  opacity: 0.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
body #c5:hover .caption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
body #c5:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #c6 {
  height: 300px;
  overflow: hidden;
}
body #c6 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}
body #c6 .caption h2 {
  width: 100%;
  margin: 30px 0;
  line-height: 60px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(200px, -200px);
          transform: translate(200px, -200px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
body #c6 .caption p {
  width: 80%;
  -webkit-transform: translate(200px, -200px);
          transform: translate(200px, -200px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
body #c6 .caption a {
  margin-top: 50px;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px 20px;
  -webkit-transform: translate(200px, 200px);
          transform: translate(200px, 200px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
body #c6:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 250%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(100%, 100%) rotate(45deg);
          transform: translate(100%, 100%) rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #c6:hover:before {
  -webkit-transform: translate(-50px, -150px) rotate(45deg);
          transform: translate(-50px, -150px) rotate(45deg);
}
body #c6:hover .caption h2,
body #c6:hover .caption p,
body #c6:hover .caption a {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}/*# sourceMappingURL=style.css.map */