*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #747474;
  font-family: "roboto", sans-serif;
}
body .container {
  position: relative;
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
  cursor: pointer;
}
body .container img {
  width: 100%;
}
body #c1 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c1 img {
  transition: 0.5s;
}
body #c1 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: 0.5s;
}
body #c1 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c1 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c1:hover img {
  transform: scale(1.3) rotate(15deg);
}
body #c1:hover .caption {
  opacity: 1;
}
body #c2 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c2 img {
  transition: 0.5s;
}
body #c2 .caption {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.5s;
}
body #c2 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c2 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c2:hover img {
  transform: scale(1.3) rotate(-15deg);
}
body #c2:hover .caption {
  left: 0;
  opacity: 1;
}
body #c3 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c3 img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
body #c3 .caption {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.5s;
}
body #c3 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c3 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c3:hover img {
  left: 100%;
}
body #c3:hover .caption {
  left: 0;
}
body #c4 {
  overflow: hidden;
  border: 1px solid #fff;
}
body #c4 img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
body #c4 .caption {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.5s;
}
body #c4 .caption h1 {
  text-transform: uppercase;
  text-align: center;
}
body #c4 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
body #c4:hover img {
  top: -25%;
}
body #c4:hover .caption {
  top: 75%;
}
body #c5 {
  height: auto;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}
body #c5 img {
  transition: 0.5s;
}
body #c5 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.25s;
}
body #c5 .caption h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}
body #c5 .caption h5 {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  background-color: #ae895d;
  padding: 3px 5px;
}
body #c5:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006266;
  opacity: 0.5;
  transform: translateY(100%);
  transition: 0.25s;
  transition-delay: 0.25s;
}
body #c5:hover .caption {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}
body #c5:hover:before {
  transform: translateY(0);
  transition-delay: 0s;
}

/*# sourceMappingURL=style.css.map */
