*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
body .container {
  width: 100%;
  min-height: 400px;
  margin-bottom: 50px;
}
body .container > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container #a1 {
  height: 400px;
  background-color: rgb(118, 189, 118);
}
body .container #a1 h1 {
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 10px;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white, 0 30px 5px rgba(0, 0, 0, 0.1);
  color: white;
  animation: float 3s linear infinite alternate;
}
@keyframes float {
  from {
    rotate: 5deg;
  }
  to {
    rotate: -5deg;
  }
}
body .container #a2 {
  height: 300px;
  background-color: rgb(122, 218, 122);
  perspective: 200px;
}
body .container #a2 .loading {
  width: 100px;
  height: 100px;
  background-color: whitesmoke;
  border-radius: 12px;
  animation: loading 3s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
body .container #a3 {
  height: 800px;
}
body .container #a3 .background {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/a3/bg.jpg);
  background-position: bottom left;
  animation: driving 15s linear infinite;
}
body .container #a3 .background .car {
  position: absolute;
  left: 300px;
  bottom: -50px;
  width: 200px;
}
body .container #a3 .background .motobike {
  position: absolute;
  left: 700px;
  bottom: 55px;
  width: 150px;
}
@keyframes driving {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}
body .container #a4 {
  height: 1000px;
}
body .container #a4 .banner {
  width: 100%;
  height: 100%;
  background: url(../img/a4/bg.png);
  background-position: 0 0;
  animation: animated-bg 15s linear infinite;
}
@keyframes animated-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 600px;
  }
}
body .container #a5 {
  height: 300px;
  background-color: #222;
}
body .container #a5 a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  border: 3px solid whitesmoke;
  padding: 25px 40px;
  transition: 0.3s;
}
body .container #a5 a:hover {
  border: 3px solid darkred;
  color: darkred;
  animation: shake 0.3s linear 1;
}
@keyframes shake {
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
body .container #a6 {
  height: 300px;
  background-color: #222;
}
body .container #a6 a {
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  border: 3px solid whitesmoke;
  padding: 25px 40px;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
}
body .container #a6 a:hover::before {
  width: 100%;
  transform: skew(0deg);
  animation: none;
}
body .container #a6 a:before {
  content: "";
  background-color: red;
  top: -10%;
  left: 0;
  width: 100px;
  height: 140%;
  position: absolute;
  transform: skew(-20deg);
  z-index: -1;
  animation: moving 1.2s linear infinite;
  transition: 0.5s;
}
@keyframes moving {
  from {
    left: -100px;
  }
  to {
    left: 100%;
  }
}
body .container #a7 {
  background-color: #222;
  height: 300px;
}
body .container #a7 ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container #a7 ul li {
  color: #484848;
  font-size: 40px;
  font-family: "Rubik";
  font-weight: 800;
  letter-spacing: 10px;
  animation: lightning 1.5s linear infinite;
}
body .container #a7 ul li:nth-child(1) {
  animation-delay: 0s;
}
body .container #a7 ul li:nth-child(2) {
  animation-delay: 0.1s;
}
body .container #a7 ul li:nth-child(3) {
  animation-delay: 0.2s;
}
body .container #a7 ul li:nth-child(4) {
  animation-delay: 0.3s;
}
body .container #a7 ul li:nth-child(5) {
  animation-delay: 0.4s;
}
body .container #a7 ul li:nth-child(6) {
  animation-delay: 0.5s;
}
body .container #a7 ul li:nth-child(7) {
  animation-delay: 0.6s;
}
body .container #a7 ul li:nth-child(8) {
  animation-delay: 0.7s;
}
body .container #a7 ul li:nth-child(9) {
  animation-delay: 0.8s;
}
@keyframes lightning {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}
body .container #a8 {
  background-color: #484848;
  height: 500px;
}
body .container #a8 .heart {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgb(217, 0, 0);
  transform: rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}
body .container #a8 .heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(217, 0, 0);
  transform: translateY(-50%);
  border-radius: 50%;
}
body .container #a8 .heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(217, 0, 0);
  transform: translateX(-50%);
  border-radius: 50%;
}
@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1.2);
  }
  30% {
    transform: rotate(45deg) scale(1.4);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  70% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
body .container #a9 {
  background-color: #484848;
  height: 400px;
}
body .container #a9 ul {
  display: flex;
  border-bottom: 10px solid #fff900;
}
body .container #a9 ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  background-color: #fff900;
  margin: 0 10px;
  border-radius: 50%;
  animation: jumpingBalls 0.8s linear infinite;
}
body .container #a9 ul li:nth-child(1) {
  animation-delay: 0.45s;
}
body .container #a9 ul li:nth-child(2) {
  animation-delay: 0.25s;
}
body .container #a9 ul li:nth-child(3) {
  animation-delay: 0.55s;
}
body .container #a9 ul li:nth-child(4) {
  animation-delay: 0.15s;
}
body .container #a9 ul li:nth-child(5) {
  animation-delay: 0.75s;
}
@keyframes jumpingBalls {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}
body .container #a10 {
  height: 700px;
  background: url(../img/a10/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .container #a10 .rain {
  width: 100%;
  height: 100%;
  background: url(../img/a10/rain.png);
  animation: raining 0.3s linear infinite;
}
@keyframes raining {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}

/*# sourceMappingURL=style.css.map */
