*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
body > div {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > div.container-1 {
  height: 300px;
  width: 100%;
}
body > div.container-1 .loader {
  width: 300px;
  height: 60px;
  border: 7px solid #0a3d62;
  border-radius: 10px;
  line-height: 60px;
  position: relative;
  text-align: center;
  box-sizing: content-box;
  overflow: hidden;
}
body > div.container-1 .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}
body > div.container-1 .loader span.top-half {
  color: #ee5253;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  animation: cp1 4s linear infinite;
}
body > div.container-1 .loader span.bottom-half {
  color: #0a3d62;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  animation: cp1 4s linear infinite reverse;
}
@keyframes cp1 {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
body > div.container-2 {
  background: #3f3f3f;
}
body > div.container-2 .wave {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  position: relative;
}
body > div.container-2 .wave h2 {
  position: absolute;
  text-align: center;
  line-height: 500px;
  font-size: 170px;
  text-transform: uppercase;
}
body > div.container-2 .wave h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
body > div.container-2 .wave h2:nth-child(2) {
  color: #03a9f4;
  animation: cp2 2s ease-in-out infinite;
}
@keyframes cp2 {
  0% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
  }
}
body > div.container-3 {
  width: 100%;
  height: 1000px;
  background-color: #444;
}
body > div.container-3 .wrapper {
  position: relative;
  width: 800px;
  height: 500px;
}
body > div.container-3 .wrapper .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
body > div.container-3 .wrapper .clip.clip1 {
  background: url(../img/cp3/1.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 17% 0, 49% 100%, 0% 100%);
}
body > div.container-3 .wrapper .clip.clip2 {
  background: url(../img/cp3/2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(13% 0, 81% 0, 59% 100%, 36% 100%);
}
body > div.container-3 .wrapper .clip.clip3 {
  background: url(../img/cp3/3.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(79% 0, 100% 0, 100% 100%, 59% 100%);
}
body > div.container-3 .wrapper:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
body > div.container-3 .wrapper:hover .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
body > div.container-4 {
  height: 600px;
}
body > div.container-4 .card {
  width: 500px;
  height: 250px;
  background-color: mediumaquamarine;
  padding: 20px 80px 20px 20px;
  border-radius: 10px;
  transition: 0.5s;
  clip-path: circle(7% at 93% 20%);
}
body > div.container-4 .card h1 {
  margin-bottom: 20px;
}
body > div.container-4 .card p {
  font-size: 18px;
  text-align: justify;
}
body > div.container-4 .card:hover {
  clip-path: circle(70%);
}
body > div.container-5 {
  height: 1000px;
  background: #79c5e9;
}
body > div.container-5 .wrapper {
  position: relative;
  width: 800px;
}
body > div.container-5 .wrapper h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
  font-size: 200px;
  text-align: center;
}
body > div.container-5 .wrapper h1:nth-child(1):hover ~ h1 {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
body > div.container-5 .wrapper h1:nth-child(2) {
  color: white;
  transition: 0.6s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  background-color: #79c5e9;
}
body > div.container-5 .wrapper h1:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
body > div.container-6 {
  height: 500px;
}
body > div.container-6 .card {
  position: relative;
  width: 335px;
  height: 500px;
}
body > div.container-6 .card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  clip-path: circle(70.7% at 50% 50%);
}
body > div.container-6 .card .img img {
  width: 100%;
}
body > div.container-6 .card .content {
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
}
body > div.container-6 .card .content * {
  opacity: 0;
  transition: 0.3s;
  transform: translateY(20px);
}
body > div.container-6 .card .content h2 {
  text-transform: uppercase;
}
body > div.container-6 .card .content p {
  margin-bottom: 25px;
  font-size: 16px;
  text-transform: capitalize;
}
body > div.container-6 .card .content a {
  display: inline-block;
  text-decoration: none;
  background: black;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
}
body > div.container-6 .card:hover .img {
  clip-path: circle(18.2% at 50% 38%);
}
body > div.container-6 .card:hover .content * {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
body > div.container-7 {
  height: 600px;
}
body > div.container-7 ul {
  list-style: none;
}
body > div.container-7 ul li {
  position: relative;
  margin: 10px 0;
  overflow: hidden;
}
body > div.container-7 ul li a {
  position: relative;
  display: block;
  padding: 5px 10px;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  color: transparent;
}
body > div.container-7 ul li a:before, body > div.container-7 ul li a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: #3f3f3f;
  transition: 0.5s;
  transition-delay: 0.25s;
}
body > div.container-7 ul li a:before {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
body > div.container-7 ul li a:after {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}
body > div.container-7 ul li a:hover:before {
  color: rgb(230, 63, 63);
  transform: translate(10px, -3px);
}
body > div.container-7 ul li a:hover:after {
  color: rgb(230, 63, 63);
  transform: translate(-10px, 3px);
}
body > div.container-7 ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #3f3f3f;
  left: -100%;
  transition: 0.5s;
}
body > div.container-7 ul li:hover:before {
  left: 100%;
}
body > div.container-8 {
  background-color: #444;
  height: 400px;
}
body > div.container-8 a {
  position: relative;
  width: 180px;
  height: 60px;
  text-decoration: none;
}
body > div.container-8 a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  color: white;
  background-color: mediumpurple;
}
body > div.container-8 a span:nth-child(1):hover ~ span {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
}
body > div.container-8 a span:nth-child(2) {
  background: white;
  color: mediumpurple;
  transition: 0.5s;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 10% 50%);
}
body > div.container-8 a span:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
body > div.container-9 {
  height: 500px;
}
body > div.container-9 section {
  position: relative;
  width: 100%;
  height: 100%;
}
body > div.container-9 section .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > div.container-9 section .box1 h2 {
  color: rgb(104, 195, 104);
}
body > div.container-9 section .box2 {
  background: rgb(104, 195, 104);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
body > div.container-9 section .box2 h2 {
  color: white;
}
body > div.container-9 section .box h2 {
  font-size: 45px;
  display: flex;
  flex-direction: column;
  transform: translateY(-70%);
  text-align: center;
  animation: cp9 3s ease-in-out infinite;
}
body > div.container-9 section .box h2 span:nth-child(2) {
  line-height: 1em;
  font-size: 2em;
}
@keyframes cp9 {
  0%, 45% {
    transform: translateY(-70%);
  }
  55%, 90% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(-70%);
  }
}

/*# sourceMappingURL=style.css.map */
