*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container {
  min-height: 400px;
  width: 500px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container:nth-child(4) {
  background-color: #491f8f;
}
body .container:nth-child(5) {
  background-color: rgb(77, 76, 76);
}
body .container #c1 {
  position: relative;
  width: 320px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
body .container #c1 .content {
  position: relative;
  text-transform: capitalize;
  color: #777;
  z-index: 2;
  transition: 0.5s;
}
body .container #c1 .content h2 {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 25px;
}
body .container #c1 .content p {
  font-size: 14px;
}
body .container #c1 .content a {
  display: inline-block;
  margin-top: 15px;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  color: #777;
  font-weight: 600;
  background-color: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
body .container #c1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  width: 100%;
  height: 100%;
  background-color: #f0469e;
  z-index: 1;
  transition: 0.5s;
}
body .container #c1:hover .content {
  color: white;
}
body .container #c1:hover:before {
  bottom: 0;
}
body .container #c2 {
  position: relative;
  width: 300px;
  height: 260px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
body .container #c2 .imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-60px);
  z-index: 1;
}
body .container #c2 .imgbox img {
  width: 100%;
  border-radius: 10px;
}
body .container #c2 .content {
  padding: 10px 20px;
  text-align: center;
  color: #111;
  transition: 0.3s;
  transform: translateY(-300px);
  opacity: 0;
}
body .container #c2 .content h2 {
  margin-bottom: 15px;
}
body .container #c2:hover {
  height: 420px;
}
body .container #c2:hover .content {
  opacity: 1;
  transform: translateY(-200px);
}
body .container #c3 {
  position: relative;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #d41e31, #491f8f);
  border-radius: 20px;
}
body .container #c3 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  transition: 0.5s;
}
body .container #c3 .content {
  position: relative;
  width: 40%;
  left: 20%;
  color: whitesmoke;
  text-transform: capitalize;
  transition: 0.5s;
  opacity: 0;
}
body .container #c3 .content h2 {
  margin-bottom: 20px;
}
body .container #c3 .content a {
  position: relative;
  color: #222;
  display: inline-block;
  margin-top: 15px;
  padding: 5px 10px;
  background-color: wheat;
  border-radius: 10px;
  text-decoration: none;
}
body .container #c3:hover img {
  height: 450px;
  left: 80%;
}
body .container #c3:hover .content {
  left: 5%;
  opacity: 1;
}
body .container #c4 {
  height: 330px;
  width: 240px;
  color: darkolivegreen;
  position: relative;
}
body .container #c4 .face {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container #c4 .face.face1 {
  position: absolute;
  top: 30%;
  left: 0;
  text-align: center;
}
body .container #c4 .face.face1 p {
  margin-top: 20px;
  padding: 0 10px;
}
body .container #c4 .face.face1 a {
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid darkolivegreen;
  color: darkolivegreen;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.5s;
}
body .container #c4 .face.face1 a:hover {
  background-color: darkolivegreen;
  color: whitesmoke;
}
body .container #c4 .face.face2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: darkolivegreen;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  color: whitesmoke;
}
body .container #c4 .face.face2 h2 {
  font-size: 80px;
}
body .container #c4:hover {
  background-color: white;
}
body .container #c4:hover .face.face2 {
  top: 10%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  border: 2px solid darkolivegreen;
  color: darkolivegreen;
  transition: 0.3s;
}
body .container #c4:hover .face.face2 h2 {
  font-size: 30px;
}
body .container #c5 {
  width: 300px;
  position: relative;
  cursor: pointer;
}
body .container #c5 .face1 {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100px);
  transition: 0.5s;
  z-index: 1;
}
body .container #c5 .face1 .imgbox {
  opacity: 0.2;
  transition: 0.5s;
}
body .container #c5 .face1 .imgbox img {
  width: 100px;
}
body .container #c5 .face1 h3 {
  margin: 15px 0 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
body .container #c5 .face2 {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  transition: 0.5s;
}
body .container #c5 .face2 a {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #777;
  padding: 5px;
  border: 1px solid #777;
  transition: 0.5s;
}
body .container #c5:hover .face1 {
  background-color: deeppink;
  transform: translateY(0);
}
body .container #c5:hover .face1 .imgbox {
  opacity: 1;
}
body .container #c5:hover .face2 {
  transform: translateY(0);
}
body .container #c5:hover .face2 a:hover {
  background-color: #777;
  color: white;
}
body .container #c6 {
  position: relative;
  width: 320px;
  height: 350px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}
body .container #c6 .imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: #333;
  transition: 0.5s;
  z-index: 2;
}
body .container #c6 .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .container #c6 .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}
body .container #c6 .details h2 {
  font-weight: bold;
  color: #777;
  text-transform: uppercase;
}
body .container #c6 .details h2 span {
  font-weight: 500;
  font-size: 18px;
  color: #f0469e;
}
body .container #c6:before, body .container #c6:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  transition: 0.5s;
  z-index: -1;
}
body .container #c6:hover .imgbox {
  bottom: 80px;
}
body .container #c6:hover:before {
  rotate: 20deg;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}
body .container #c6:hover:after {
  rotate: 10deg;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}
body .container #c7 {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #111;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
}
body .container #c7 .imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
body .container #c7 .imgbox img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
body .container #c7 .content {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 80px;
  background-color: whitesmoke;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;
}
body .container #c7 .content h3 {
  margin: 25px;
  font-size: 25px;
  text-transform: uppercase;
}
body .container #c7 .content p {
  width: 80%;
  margin: 10px auto;
  font-size: 15px;
  transition: 0.5s;
  opacity: 0;
}
body .container #c7 .content a {
  display: inline-block;
  text-decoration: none;
  background-color: #222;
  color: whitesmoke;
  padding: 10px 15px;
  margin-top: 10px;
  transition: 0.5s;
  opacity: 0;
}
body .container #c7:hover .imgbox img {
  opacity: 0;
}
body .container #c7:hover .content {
  left: 0;
  height: 100%;
  width: 100%;
}
body .container #c7:hover .content p,
body .container #c7:hover .content a {
  opacity: 1;
  transition-delay: 0.5s;
}

/*# sourceMappingURL=styles.css.map */
