body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(174, 167, 167);
}
body a {
  margin-top: 100px;
  position: relative;
  text-decoration: none;
  font-family: sans-serif;
  overflow: hidden;
  font-family: "roboto", sans-serif;
  font-size: 40px;
  padding: 40px 80px;
}
body #button_1 {
  color: black;
  border: 5px solid black;
}
body #button_1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  z-index: -1;
  transition: transform 1s;
  transform-origin: top left;
  transform: rotate(-90deg);
}
body #button_1:hover:before {
  transform: rotate(0deg);
}
body #button_2 {
  color: rebeccapurple;
  border: 5px solid rebeccapurple;
  transition: all 1s;
}
body #button_2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s;
}
body #button_2:hover:before {
  transform: translateX(0);
}
body #button_2:hover {
  color: white;
}
body #button_3 {
  color: brown;
  letter-spacing: 2px;
  border: 5px solid brown;
  transition: 1s;
}
body #button_3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: brown;
  z-index: -1;
  transform: rotateX(90deg);
  transition: 0.75s;
}
body #button_3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: brown;
  z-index: -1;
  transform: rotateY(90deg);
  transition: 0.75s;
}
body #button_3:hover:before {
  transform: rotateX(0deg);
}
body #button_3:hover:after {
  transform: rotateY(0deg);
}
body #button_3:hover {
  color: white;
}
body #button_4 {
  color: darkblue;
  font-weight: 300;
  border: 3px solid darkblue;
  transition: 1s;
}
body #button_4:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid darkblue;
}
body #button_5 {
  color: darkred;
  border: 3px solid darkred;
  transition: all 1s;
}
body #button_5:before {
  content: "HOVERED";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #button_5:hover:before {
  transform: translateY(0);
}
body #button_6 {
  color: white;
  border: 3px solid white;
  transition: all 1s;
}
body #button_6:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -70%;
  width: 100%;
  height: 50px;
  background-color: white;
  transform-origin: bottom left;
  transform: rotate(45deg);
  transition: all 1s;
}
body #button_6:hover {
  background-color: orangered;
}
body #button_6:hover:before {
  top: -50%;
  left: 150%;
}
body #button_7 {
  background-color: black;
  border: 4px solid black;
  color: transparent;
}
body #button_7:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
body #button_7:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}
body #button_7:hover:before {
  transform: translate(100%, -100%);
}
body #button_7:hover:after {
  transform: translate(0, 0);
}
body #button_8 {
  border: 3px solid black;
  color: black;
  transition: all 0.5s;
}
body #button_8:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}
body #button_8:hover:before {
  transform: scale(1);
  opacity: 1;
}
body #button_9 {
  border: 5px solid salmon;
  background: none;
  color: salmon;
  text-transform: uppercase;
  transition: all 0.5s;
}
body #button_9:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: salmon;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}
body #button_9:hover {
  color: white;
}
body #button_9:hover:before {
  height: 200%;
}
body #button_10 {
  border: 5px solid #fafad2;
  color: #fafad2;
  letter-spacing: 2px;
  overflow: visible;
}
body #button_10:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4197c2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top;
  transform: rotateX(270deg);
  transition: all 0.5s;
}
body #button_10:hover:before, body #button_10:hover:after {
  transform: rotateX(0deg);
}
body #button_10:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c2419b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top;
  transform: rotateX(270deg);
  transition: all 0.5s;
  transition-delay: 0.25s;
}

/*# sourceMappingURL=style.css.map */
