*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #747474;
}
body > a {
  margin-top: 100px;
  position: relative;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  font-size: 40px;
  padding: 40px 80px;
  line-height: 40px;
}
body #button_1 {
  color: black;
  border: 5px solid black;
}
body #button_1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  z-index: -1;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
body #button_1:hover:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
body #button_2 {
  color: rebeccapurple;
  border: 5px solid rebeccapurple;
  -webkit-transition: 1s;
  transition: 1s;
}
body #button_2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
  z-index: -1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}
body #button_2:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
body #button_2:hover {
  color: white;
}
body #button_3 {
  color: brown;
  letter-spacing: 2px;
  border: 5px solid brown;
  -webkit-transition: 1s;
  transition: 1s;
}
body #button_3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: brown;
  z-index: -1;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
body #button_3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: brown;
  z-index: -1;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
body #button_3:hover:before {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
body #button_3:hover:after {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
body #button_3:hover {
  color: white;
}
body #button_4 {
  color: darkblue;
  font-weight: 300;
  border: 3px solid darkblue;
  -webkit-transition: 1s;
  transition: 1s;
}
body #button_4:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid darkblue;
}
body #button_5 {
  color: darkred;
  border: 3px solid darkred;
  -webkit-transition: 1s;
  transition: 1s;
}
body #button_5:before {
  content: "HOVERED";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body #button_5:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body #button_6 {
  color: white;
  border: 3px solid white;
  -webkit-transition: 1s;
  transition: 1s;
}
body #button_6:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -70%;
  width: 100%;
  height: 50px;
  background-color: white;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 1s;
  transition: 1s;
}
body #button_6:hover {
  background-color: orangered;
}
body #button_6:hover:before {
  top: -50%;
  left: 150%;
}
body #button_7 {
  background-color: black;
  border: 4px solid black;
  color: transparent;
}
body #button_7:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_7:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}
body #button_7:hover:before {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}
body #button_7:hover:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
body #button_8 {
  border: 3px solid black;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_8:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(5);
          transform: scale(5);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_8:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
body #button_9 {
  border: 5px solid salmon;
  background: none;
  color: salmon;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_9:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: salmon;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_9:hover {
  color: white;
}
body #button_9:hover:before {
  height: 200%;
}
body #button_10 {
  border: 5px solid #fafad2;
  color: #fafad2;
  letter-spacing: 2px;
  overflow: visible;
}
body #button_10:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4197c2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_10:hover:before, body #button_10:hover:after {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
body #button_10:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c2419b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
body #button_11 {
  border: 5px solid #f9f90e;
  color: transparent;
}
body #button_11:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  color: #f9f90e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_11:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  color: #f9f90e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0) rotateY(0deg);
          transform: scale(0) rotateY(0deg);
  opacity: 0;
}
body #button_11:hover:before {
  left: 100%;
  -webkit-transform: scale(0) rotateY(360deg);
          transform: scale(0) rotateY(360deg);
  opacity: 0;
}
body #button_11:hover:after {
  left: 0;
  -webkit-transform: scale(1) rotateY(360deg);
          transform: scale(1) rotateY(360deg);
  opacity: 1;
}
body #button_12 {
  padding: 0;
  width: 220px;
  height: 80px;
  line-height: 80px;
  color: #ff0;
  font-size: 26px;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_12:after, body #button_12:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  opacity: 0;
}
body #button_12:before {
  left: 0;
  -webkit-box-shadow: -100px 0 0 #ff0;
          box-shadow: -100px 0 0 #ff0;
}
body #button_12:after {
  right: 0;
  -webkit-box-shadow: 100px 0 0 #ff0;
          box-shadow: 100px 0 0 #ff0;
}
body #button_12 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0;
  border-radius: 8px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
body #button_12:hover {
  color: #262626;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
body #button_12:hover:before {
  left: 50%;
  -webkit-box-shadow: 30px 0 0 #ff0;
          box-shadow: 30px 0 0 #ff0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
body #button_12:hover:after {
  right: 50%;
  -webkit-box-shadow: -30px 0 0 #ff0;
          box-shadow: -30px 0 0 #ff0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  opacity: 1;
}
body #button_12:hover span {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
body #button_13 {
  padding: 0;
  width: 300px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  line-height: 60px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body #button_13:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: rgb(8, 195, 237);
  z-index: -1;
  mix-blend-mode: multiply;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body #button_13:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-color: rgb(230, 89, 7);
  z-index: -1;
  mix-blend-mode: multiply;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body #button_13:hover {
  color: black;
}
body #button_13:hover:before {
  top: -10px;
  left: 0;
  -webkit-transform: perspective(1000px) rotateX(75deg);
          transform: perspective(1000px) rotateX(75deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}
body #button_13:hover:after {
  top: 10px;
  left: 0;
  -webkit-transform: perspective(1000px) rotateX(-75deg);
          transform: perspective(1000px) rotateX(-75deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
body #button_14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 3px solid #f6b93b;
  color: #f6b93b;
}
body #button_14:before, body #button_14:after,
body #button_14 span:before,
body #button_14 span:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #f6b93b;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body #button_14:before {
  top: 0;
  left: -25%;
}
body #button_14:after {
  top: -100%;
  left: 25%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
body #button_14 span:before {
  top: 100%;
  right: 25%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
body #button_14 span:after {
  top: 0;
  right: -25%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
body #button_14:hover {
  color: #222;
}
body #button_14:hover span:before {
  top: 0;
  right: 25%;
}
body #button_14:hover span:after {
  top: 0;
  right: 0;
}
body #button_14:hover:before {
  top: 0;
  left: 0;
}
body #button_14:hover:after {
  top: 0;
  left: 25%;
}
body #button_15 {
  padding: 0;
  height: 60px;
  width: 200px;
  line-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fdc518;
  overflow: visible;
}
body #button_15:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  height: calc(100% + 30px);
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  border-left: 3px solid #fdc518;
  border-right: 3px solid red;
}
body #button_15:after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  height: 100%;
  width: calc(100% + 30px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  border-top: 3px solid #fdc518;
  border-bottom: 3px solid red;
}
body #button_15:hover:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
body #button_15:hover:after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
body #button_16 {
  text-transform: uppercase;
  background-color: #c96822;
  color: white;
  overflow: visible;
}
body #button_16:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 50px;
  height: 50px;
  border-top: 5px solid #c96822;
  border-left: 5px solid #c96822;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_16:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  border-bottom: 5px solid #c96822;
  border-right: 5px solid #c96822;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_16:hover:before, body #button_16:hover:after {
  height: 100%;
  width: 100%;
}
body #button_17 {
  padding: 0;
  width: 160px;
  height: 60px;
  color: #222;
  border: 2px solid #222;
  line-height: 60px;
  font-size: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: visible;
}
body #button_17 span {
  position: relative;
  color: transparent;
}
body #button_17 span:before {
  content: "B";
  position: absolute;
  color: #222;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body #button_17:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
body #button_17:hover {
  color: white;
}
body #button_17:hover:before {
  opacity: 1;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
body #button_17:hover span:before {
  color: white;
  font-size: 80px;
  -webkit-transform: translate(-65%, -10%) rotate(360deg);
          transform: translate(-65%, -10%) rotate(360deg);
}
body #button_18 {
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  letter-spacing: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_18:before, body #button_18:after,
body #button_18 span:before,
body #button_18 span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_18:before {
  border-left: 5px solid white;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
body #button_18:after {
  border-right: 5px solid white;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
body #button_18 span {
  width: 100%;
  height: 100%;
}
body #button_18 span:before {
  border-top: 5px solid white;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
body #button_18 span:after {
  border-bottom: 5px solid white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}
body #button_18:hover:before, body #button_18:hover:after,
body #button_18:hover span:before,
body #button_18:hover span:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
body #button_19 {
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  letter-spacing: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_19:before, body #button_19:after,
body #button_19 span:before,
body #button_19 span:after {
  content: "";
  position: absolute;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_19:before {
  width: 100%;
  height: 5px;
  top: 0;
  left: -100%;
}
body #button_19:after {
  width: 100%;
  height: 5px;
  bottom: 0;
  right: -100%;
}
body #button_19 span:before {
  width: 5px;
  height: 100%;
  top: -100%;
  right: 0;
}
body #button_19 span:after {
  width: 5px;
  height: 100%;
  bottom: -100%;
  left: 0;
}
body #button_19:hover:before {
  left: 0;
}
body #button_19:hover:after {
  right: 0;
}
body #button_19:hover span:before {
  top: 0;
}
body #button_19:hover span:after {
  bottom: 0;
}
body #button_20 {
  text-transform: capitalize;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body #button_20 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 3px solid black;
  z-index: -1;
}
body #button_20 span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8%;
  height: 300%;
  background-color: #747474;
  -webkit-transform: translate(-50%, -50%) rotate(-60deg);
          transform: translate(-50%, -50%) rotate(-60deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body #button_20:hover {
  color: white;
}
body #button_20:hover span:before {
  width: 100%;
  background-color: black;
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
          transform: translate(-50%, -50%) rotate(60deg);
}
body #button_21 {
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  overflow: visible;
}
body #button_21:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -1%;
  width: 50%;
  height: 100%;
  background-color: deeppink;
  z-index: -1;
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}
body #button_21:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 51%;
  width: 50%;
  height: 100%;
  background-color: dodgerblue;
  z-index: -1;
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}
body #button_21:hover:before {
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  left: 50%;
  top: 0;
}
body #button_21:hover:after {
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  left: 0;
  top: 0;
}
body #button_22 {
  border-radius: 100px;
  background-color: powderblue;
  color: #726f6f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: visible;
}
body #button_22:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: powderblue;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body #button_22:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
body #button_22:hover:before {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
body #button_22:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
body #button_23 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #250e74;
  border: 5px solid #250e74;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body #button_23:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-top: 60px solid #250e74;
  border-bottom: 60px solid #250e74;
  border-right: 60px solid transparent;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
body #button_23:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-top: 60px solid #250e74;
  border-bottom: 60px solid #250e74;
  border-left: 60px solid transparent;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
body #button_23:hover {
  color: #fafad2;
}
body #button_23:hover:before, body #button_23:hover:after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
body #button_24 {
  margin-top: 100px;
}
body #button_24 > a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 35px;
  border: 3px solid #1e9bff;
  color: #1e9bff;
  font-size: 20px;
  letter-spacing: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body #button_24 > a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e9bff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: -1;
}
body #button_24 > a:hover {
  color: white;
  border: 3px solid transparent;
}
body #button_24 > a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-box-shadow: 0 0 10px #1e9bff, 0 0 20px #1e9bff, 0 0 30px;
          box-shadow: 0 0 10px #1e9bff, 0 0 20px #1e9bff, 0 0 30px;
}
body #button_24 > a:hover span:nth-child(1) {
  left: 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #button_24 > a:hover span:nth-child(3) {
  right: 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #button_24 > a:hover span:nth-child(2) {
  top: 50%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #button_24 > a:hover span:nth-child(4) {
  bottom: 50%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #button_24 span {
  position: absolute;
  background-color: #1e9bff;
  -webkit-box-shadow: 0 0 10px #1e9bff, 0 0 20px #1e9bff, 0 0 30px #1e9bff, 0 0 50px #1e9bff, 0 0 100px #1e9bff;
          box-shadow: 0 0 10px #1e9bff, 0 0 20px #1e9bff, 0 0 30px #1e9bff, 0 0 50px #1e9bff, 0 0 100px #1e9bff;
}
body #button_24 span:nth-child(1), body #button_24 span:nth-child(3) {
  width: 40px;
  height: 5px;
}
body #button_24 span:nth-child(2), body #button_24 span:nth-child(4) {
  width: 5px;
  height: 40px;
}
body #button_24 span:nth-child(1) {
  top: calc(50% - 2.5px);
  left: -50px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
body #button_24 span:nth-child(3) {
  top: calc(50% - 2.5px);
  right: -50px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
body #button_24 span:nth-child(2) {
  left: calc(50% - 2.5px);
  top: -50px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
body #button_24 span:nth-child(4) {
  left: calc(50% - 2.5px);
  bottom: -50px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
body #button_25 {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 155px;
  height: 50px;
  position: relative;
  border-radius: 30px;
}
body #button_25 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.051);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(250, 52, 52, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 10;
  color: white;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
body #button_25 a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.149)), to(transparent));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.149), transparent);
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}
body #button_25:before, body #button_25:after {
  background: #ff1f72;
  -webkit-box-shadow: 0 0 5px #ff1f72, 0 0 15px #ff1f72, 0 0 30px #ff1f72, 0 0 60px #ff1f72;
          box-shadow: 0 0 5px #ff1f72, 0 0 15px #ff1f72, 0 0 30px #ff1f72, 0 0 60px #ff1f72;
}
body #button_25:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 30px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ff0461;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #button_25:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 30px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ff0461;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #button_25:hover a {
  letter-spacing: 3px;
}
body #button_25:hover a:before {
  -webkit-transform: skewX(45deg) translateX(200%);
          transform: skewX(45deg) translateX(200%);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body #button_25:hover:before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
body #button_25:hover:after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}/*# sourceMappingURL=style.css.map */