*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container {
    min-height: 400px;
    width: 500px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(4) {
      background-color: #491f8f;
    }
    &:nth-child(5) {
      background-color: rgb(77, 76, 76);
    }
    &:nth-child(9) {
      min-height: 600px;
      background-color: #111;
    }

    #c1 {
      position: relative;
      width: 320px;
      padding: 40px;
      background-color: white;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      .content {
        position: relative;
        text-transform: capitalize;
        color: #777;
        z-index: 2;
        transition: 0.5s;
        h2 {
          margin-bottom: 15px;
          margin-top: 0;
          font-size: 25px;
        }
        p {
          font-size: 14px;
        }
        a {
          display: inline-block;
          margin-top: 15px;
          font-size: 12px;
          padding: 5px 10px;
          text-decoration: none;
          color: #777;
          font-weight: 600;
          background-color: white;
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: calc(-100% + 5px);
        width: 100%;
        height: 100%;
        background-color: #f0469e;
        z-index: 1;
        transition: 0.5s;
      }
      &:hover {
        .content {
          color: white;
        }
        &:before {
          bottom: 0;
        }
      }
    }
    #c2 {
      position: relative;
      width: 300px;
      height: 260px;
      padding: 20px 40px;
      border-radius: 10px;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
      transition: 0.3s;

      .imgbox {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(-60px);
        z-index: 1;
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      .content {
        padding: 10px 20px;
        text-align: center;
        color: #111;
        transition: 0.3s;
        transform: translateY(-300px);
        opacity: 0;
        h2 {
          margin-bottom: 15px;
        }
      }
      &:hover {
        height: 420px;
        .content {
          opacity: 1;
          transform: translateY(-200px);
        }
      }
    }
    #c3 {
      position: relative;
      width: 500px;
      height: 300px;
      display: flex;
      align-items: center;
      background: linear-gradient(45deg, #d41e31, #491f8f);
      border-radius: 20px;
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 400px;
        transition: 0.5s;
      }
      .content {
        position: relative;
        width: 40%;
        left: 20%;
        color: whitesmoke;
        text-transform: capitalize;
        transition: 0.5s;
        opacity: 0;
        h2 {
          margin-bottom: 20px;
        }

        a {
          position: relative;
          color: #222;
          display: inline-block;
          margin-top: 15px;
          padding: 5px 10px;
          background-color: wheat;
          border-radius: 10px;
          text-decoration: none;
        }
      }
      &:hover {
        img {
          height: 450px;
          left: 80%;
        }
        .content {
          left: 5%;
          opacity: 1;
        }
      }
    }
    #c4 {
      height: 330px;
      width: 240px;
      color: darkolivegreen;
      position: relative;

      .face {
        display: flex;
        align-items: center;
        justify-content: center;
        &.face1 {
          position: absolute;
          top: 30%;
          left: 0;
          text-align: center;
          p {
            margin-top: 20px;
            padding: 0 10px;
          }
          a {
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            border: 2px solid darkolivegreen;
            color: darkolivegreen;
            text-transform: capitalize;
            font-weight: bold;
            padding: 5px 10px;
            transition: 0.5s;
            &:hover {
              background-color: darkolivegreen;
              color: whitesmoke;
            }
          }
        }
        &.face2 {
          position: absolute;
          top: 0;
          left: 0;

          background-color: darkolivegreen;
          width: 100%;
          height: 100%;
          transition: 0.3s;

          color: whitesmoke;

          h2 {
            font-size: 80px;
          }
        }
      }
      &:hover {
        background-color: white;
        .face {
          &.face1 {
          }
          &.face2 {
            top: 10%;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translateX(-50%);
            background-color: white;
            border-radius: 50%;
            border: 2px solid darkolivegreen;
            color: darkolivegreen;
            transition: 0.3s;

            h2 {
              font-size: 30px;
            }
          }
        }
      }
    }
    #c5 {
      width: 300px;
      position: relative;
      cursor: pointer;
      .face1 {
        position: relative;
        width: 300px;
        height: 200px;
        background-color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(100px);
        transition: 0.5s;
        z-index: 1;
        .imgbox {
          opacity: 0.2;
          transition: 0.5s;
          img {
            width: 100px;
          }
        }
        h3 {
          margin: 15px 0 0;
          color: white;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .face2 {
        position: relative;
        width: 300px;
        height: 200px;
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
        transition: 0.5s;
        p {
        }
        a {
          margin-top: 15px;
          display: inline-block;
          text-decoration: none;
          font-weight: bold;
          color: #777;
          padding: 5px;
          border: 1px solid #777;
          transition: 0.5s;
        }
      }
      &:hover {
        .face1 {
          background-color: deeppink;
          transform: translateY(0);
          .imgbox {
            opacity: 1;
          }
        }
        .face2 {
          transform: translateY(0);
          a:hover {
            background-color: #777;
            color: white;
          }
        }
      }
    }
    #c6 {
      position: relative;
      width: 320px;
      height: 350px;
      background-color: whitesmoke;
      border-radius: 5px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
      .imgbox {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        background-color: #333;
        transition: 0.5s;
        z-index: 2;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .details {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        height: 60px;
        text-align: center;
        h2 {
          font-weight: bold;
          color: #777;
          text-transform: uppercase;
          span {
            font-weight: 500;
            font-size: 18px;
            color: #f0469e;
          }
        }
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        border-radius: 5px;
        transition: 0.5s;
        z-index: -1;
      }
      &:hover {
        .imgbox {
          bottom: 80px;
        }
        &:before {
          rotate: 20deg;
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        }
        &:after {
          rotate: 10deg;
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        }
      }
    }
    #c7 {
      position: relative;
      width: 300px;
      height: 400px;
      background-color: #111;
      box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
      .imgbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        img {
          width: 100%;
          object-fit: cover;
          transition: 0.5s;
        }
      }
      .content {
        position: absolute;
        bottom: 0px;
        left: 10%;
        width: 80%;
        height: 80px;
        background-color: whitesmoke;
        text-align: center;
        transition: 0.5s;
        overflow: hidden;
        h3 {
          margin: 25px;
          font-size: 25px;
          text-transform: uppercase;
        }
        p {
          width: 80%;
          margin: 10px auto;
          font-size: 15px;
          transition: 0.5s;
          opacity: 0;
        }
        a {
          display: inline-block;
          text-decoration: none;
          background-color: #222;
          color: whitesmoke;
          padding: 10px 15px;
          margin-top: 10px;
          transition: 0.5s;
          opacity: 0;
        }
      }
      &:hover {
        .imgbox {
          img {
            opacity: 0;
          }
        }
        .content {
          left: 0;
          height: 100%;
          width: 100%;
          p,
          a {
            opacity: 1;
            transition-delay: 0.5s;
          }
        }
      }
    }
    #c8 {
      position: relative;
      width: 320px;
      height: 420px;
      background: #122936;
      border-radius: 15px;
      overflow: hidden;
      .imgbox {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
        img {
          max-width: 100%;
          transition: 0.5s;
        }
      }
      .content {
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        h3 {
          font-size: 18px;
          color: #fff;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .price {
          font-size: 24px;
          color: #fff;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .buy {
          position: relative;
          top: 200px;
          padding: 10px 30px;
          margin-top: 15px;
          color: #fff;
          text-decoration: none;
          border-radius: 30px;
          background: #2196f3;
          opacity: 0;
          text-transform: uppercase;
          letter-spacing: 1px;
          transition: 0.5s;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: -50%;
        width: 100%;
        height: 100%;
        background: #2196f3;
        transform: skewY(345deg);
        transition: 0.5s;
      }
      &:after {
        content: 'Phillips';
        position: absolute;
        bottom: 0;
        left: 0;
        color: rgba(0, 0, 0, 0.1);
        font-weight: 600;
        font-size: 8em;
        transition: 0.5s;
      }
      &:hover {
        .imgbox {
          img {
            max-width: 50%;
          }
        }
        .content {
          .buy {
            opacity: 1;
            top: 0px;
          }
        }
        &:before {
          top: -70%;
          transform: skewY(390deg);
        }
      }
    }
    #c9 {
      position: relative;
      width: 320px;
      height: 450px;
      background-color: #333;
      border-radius: 20px;
      overflow: hidden;
      .imgbox {
        position: absolute;
        width: 100%;
        height: 220px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        transition: 0.5s;
        img {
          position: absolute;
          width: 270px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-25deg);
        }
      }
      .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 5;
        h2 {
          position: relative;
          font-weight: 600;
          letter-spacing: 1px;
          color: white;
        }
        .size,
        .color {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 20px;
          opacity: 0;
          transition: 0.5s;
          h3 {
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 15px;
            margin-right: 10px;
          }
        }
        .size {
          span {
            width: 22px;
            height: 22px;
            line-height: 20px;
            font-size: 14px;
            color: black;
            background-color: white;
            border-radius: 4px;
            margin: 0 5px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              color: #122936;
              background-color: greenyellow;
            }
          }
        }
        .color {
          span {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            &:nth-child(2) {
              background-color: greenyellow;
            }
            &:nth-child(3) {
              background-color: #2196f3;
            }
            &:nth-child(4) {
              background-color: #d41e31;
            }
          }
        }
        a {
          display: inline-block;
          padding: 10px 25px;
          text-decoration: none;
          background-color: white;
          text-transform: uppercase;
          border-radius: 5px;
          color: #111;
          margin-top: 10px;
          font-weight: 500;
          opacity: 0;
          transform: translateY(50px);
          transition: 0.5s;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: greenyellow;
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
      }
      &:after {
        content: 'Nike';
        position: absolute;
        top: 30%;
        left: -20%;
        font-size: 230px;
        color: #3c3b3b;
        font-weight: bold;
        font-style: italic;
        z-index: 1;
      }
      &:hover {
        .imgbox {
          top: 0;
          transform: translateY(0);
        }
        .content {
          height: 210px;
          .size {
            opacity: 1;
            transition-delay: 0.5s;
          }
          .color {
            opacity: 1;
            transition-delay: 0.6s;
          }
          a {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0.75s;
          }
        }
        &:before {
          clip-path: circle(300px at 80% -20%);
        }
      }
    }
  }
}
