*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-shadow: none;
}

body {
	min-height: 100dvh;
	width: 100dvw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Rubik', sans-serif;
	> div {
		width: 100%;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;

		&.container {
			&-1 {
				height: 300px;
				width: 100%;
				.loader {
					width: 300px;
					height: 60px;
					border: 7px solid #0a3d62;
					border-radius: 10px;
					line-height: 60px;
					position: relative;
					text-align: center;
					box-sizing: content-box;
					overflow: hidden;
					span {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						font-size: 48px;
						text-transform: uppercase;
						font-weight: 600;
						&.top-half {
							color: #ee5253;
							clip-path: polygon(
								0 0,
								100% 0,
								100% 50%,
								0 50%
							);
							animation: cp1 4s linear infinite;
						}
						&.bottom-half {
							color: #0a3d62;
							clip-path: polygon(
								0 50%,
								100% 50%,
								100% 100%,
								0 100%
							);
							animation: cp1 4s linear infinite reverse;
						}
					}
				}
				@keyframes cp1 {
					0% {
						transform: translateX(100%);
					}
					40% {
						transform: translateX(0);
					}
					60% {
						transform: translateX(0);
					}
					100% {
						transform: translateX(-100%);
					}
				}
			}
			&-2 {
				background: #3f3f3f;
				.wave {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 500px;
					width: 500px;
					position: relative;
					h2 {
						position: absolute;
						text-align: center;
						line-height: 500px;
						font-size: 170px;
						text-transform: uppercase;
						&:nth-child(1) {
							color: transparent;
							-webkit-text-stroke: 2px #03a9f4;
						}
						&:nth-child(2) {
							color: #03a9f4;
							animation: cp2 2s ease-in-out infinite;
						}
					}
				}
				@keyframes cp2 {
					0% {
						clip-path: polygon(
							0% 38%,
							21% 40%,
							38% 51%,
							54% 57%,
							75% 57%,
							100% 52%,
							100% 100%,
							0% 100%
						);
					}
					50% {
						clip-path: polygon(
							0 49%,
							16% 56%,
							33% 55%,
							55% 50%,
							75% 42%,
							100% 40%,
							100% 100%,
							0% 100%
						);
					}
					100% {
						clip-path: polygon(
							0% 38%,
							21% 40%,
							38% 51%,
							54% 57%,
							75% 57%,
							100% 52%,
							100% 100%,
							0% 100%
						);
					}
				}
			}
			&-3 {
				width: 100%;
				height: 1000px;
				background-color: #444;
				.wrapper {
					position: relative;
					width: 800px;
					height: 500px;
					.clip {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: 0.5s;
						&.clip1 {
							background: url(../img/cp3/1.jpg);
							background-size: cover;
							background-position: center;
							clip-path: polygon(
								0 0,
								17% 0,
								49% 100%,
								0% 100%
							);
						}
						&.clip2 {
							background: url(../img/cp3/2.jpg);
							background-size: cover;
							background-position: center;
							clip-path: polygon(
								13% 0,
								81% 0,
								59% 100%,
								36% 100%
							);
						}
						&.clip3 {
							background: url(../img/cp3/3.jpg);
							background-size: cover;
							background-position: center;
							clip-path: polygon(
								79% 0,
								100% 0,
								100% 100%,
								59% 100%
							);
						}
					}
					&:hover {
						.clip {
							clip-path: polygon(
								100% 0,
								100% 0,
								100% 100%,
								100% 100%
							);
							&:hover {
								clip-path: polygon(
									0 0,
									100% 0,
									100% 100%,
									0 100%
								);
							}
						}
					}
				}
			}
			&-4 {
				height: 600px;
				.card {
					width: 500px;
					height: 250px;
					background-color: mediumaquamarine;
					padding: 20px 80px 20px 20px;
					border-radius: 10px;
					transition: 0.5s;
					clip-path: circle(7% at 93% 20%);
					h1 {
						margin-bottom: 20px;
					}
					p {
						font-size: 18px;
						text-align: justify;
					}
					&:hover {
						clip-path: circle(70%);
					}
				}
			}
			&-5 {
				height: 1000px;
				background: #79c5e9;
				.wrapper {
					position: relative;
					width: 800px;
					h1 {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 100%;
						text-transform: uppercase;
						font-size: 200px;
						text-align: center;

						&:nth-child(1) {
							&:hover ~ h1 {
								clip-path: polygon(
									0 0,
									100% 0,
									100% 0,
									0 0
								);
							}
						}
						&:nth-child(2) {
							color: white;
							transition: 0.6s;
							clip-path: polygon(
								0 0,
								100% 0,
								100% 0,
								0 100%
							);
							background-color: #79c5e9;
							&:hover {
								clip-path: polygon(
									0 0,
									100% 0,
									100% 100%,
									0 100%
								);
							}
						}
					}
				}
			}
		}
	}
}
